<div {{action "search" on="submit"}} class="ui fluid action input">
    {{input class="prompt" type="text" value=hashtagField placeholder="Enter a Hashtag"}}
    <div class="ui primary button" {{{action "search"}}}>Search</div>
    <!-- <div class="ui icon input">

        <i class="search icon"></i>
    </div> -->
</div>
